*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    align-items: center;
    justify-content: center;
    background:linear-gradient(green , blue, pink , gold);
    display: flex;
}
div{
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    margin-top: 50%;
    margin-bottom: 50%;
}